body {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: 46%;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 5px solid pink;
    border-radius: 20px;
    background-color: pink;
}

img {
    width: 200px;
    height: 150px;
}

#main {
    display: grid;
    width: 400px;
    height: 400px;
    box-shadow: 5px 5px 10px;
}

#container {
    display: flex;
    min-height: 400px;
    justify-items: center;
}

#hud {
    display: flex;
    color: pink;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid gray;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

#flex {
    flex: 1;
}

#credit {
    font-size: 20px;
}

.grindSize {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 80px;
    margin-top: 20px;
    border: 1px solid pink;
}
